#divBackgroundImage {
  width: 100%;
  height: 35vh;
  background-image: url("/assets/bg-Recipes.jpg");
  background-size: cover;
  background-position: center;
  z-index: 0;
}

.p-recipes {
  font-size: 1.5rem;
  color: var(--secundary-color-text);
  font-weight: 500;
}

.formRecipes {
  border-radius: 25px;
  display: flex;
  width: 100%;
}

.container-input-button-recipes {
  position: relative;
  z-index: 1;
  margin-top: 20px;
  width: 65%;
  min-width: 350px;
  max-width: 600px;
}

.imgBackgroundRecipes {
  width: 80px;
  height: 80px;
  object-fit: cover;
}

.containerInputSearchFood {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--global-gap-short);
  height: 35vh;
}

.title-home-recipes {
  font-size: 3rem;
}

#foodRecipesInput {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 25px;
  padding: 12px 44px 12px 24px;
  border: none;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

#foodRecipesInput:focus {
  outline: none;
}

.btnSearchFoodRecipes {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 100%;
  background-color: transparent;
  border-radius: 50%;
  cursor: pointer;
  border: none;
  font-size: 18px;
  transition: 0.5s all ease-out;
  transform-origin: center;
}

.btnSearchFoodRecipes:hover {
  transform: scale(1.3);
  font-weight: 900;
}

.bi-search {
  color: var(--secundary-color-text);
}

.bi-search:hover {
  color: black;
}

/* ACA EMPIEZO A MAQUETAR EL CONTENIDO QUE RESULTA DE LA BUSQUEDA DE RECETAS DEL INPUT PRINCIPAL */
#mainContainerRecipes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-template-rows: auto;
  width: 100%;
  height: 100%;
  justify-items: center;
  justify-content: center;
  padding: var(--global-padding);
  text-align: center;
}

/* ACA EMPIEZO A MAQUETAR TODO EL CONTENDO DEL CONTAINER DESTACADOS */
.containerDestacados {
  width: 100%;
  min-height: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: var(--global-gap);
  justify-content: center;
  padding: var(--global-padding);
}

.containerCardsDestacados {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  text-align: center;
}

.titleDestacados {
  color: var(--terciary-color-text);
  font-size: 2rem;
  font-weight: 900;
  margin-top: var(--global-margin-title);
  margin-bottom: var(--global-margin-title);
}

/* Estilo para el fondo del modal (oculto por defecto) */

#recipeModal {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 1000;
  transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
  opacity: 0;
  overflow: auto;
}

/* Estilo para el contenido del modal */
.modalContent {
  position: relative;
  background-color: var(--bg-color);
  width: 80%;
  height: auto;
  text-align: center;
  transform: rotateY(-90deg);
  transition: transform 0.5s ease-in-out;
  margin: auto;
  border-radius: 12px;
}
body.modal-active {
  overflow: hidden;
}
#recipeModal.show {
  visibility: visible;
  opacity: 1;
  display: flex;
  transition: 0.5s;
}
#recipeModal.show .modalContent {
  transform: rotateY(0);
}
.containerTitleAndDestacados {
  padding: var(--global-padding-short);
}

.bi-x-circle {
  color: var(--bg-color);
}
/* Aca se empieza a maquetar la seccion de videos short de youtube */
.containerIframe {
  width: 320px;
}
#ShortsVideosYoutube {
  height: auto;
  background-color: rgb(205, 205, 205);
  padding: var(--global-padding);
  text-align: center;
}
#containerShortsVideosYoutube {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-template-rows: auto;
  width: 80%;
  height: auto;
  justify-items: center;
  align-items: center;
  text-align: center;
  gap: var(--global-gap-short);
  margin: 0 auto;
}

.iframeShort {
  width: 100%;
  height: 640px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
  transition: transform 0.5s ease-in-out;
}
.iframeShort:hover {
  transform: translateY(-10px);
  box-shadow: 0 16px 32px rgba(0, 0, 0, 0.3);
}
.titleVideosShort {
  color: var(--terciary-color-text);
  font-size: 2rem;
  font-weight: 900;
  width: 100%;
  text-align: center;
  margin-top: var(--global-margin-title);
  margin-bottom: var(--global-margin-title);
}

.btnIframes {
  font-family: "Roboto";
  font-weight: 700;
  padding: 12px 20px;
  background-color: var(--secundary-color-text);
  color: white;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  margin-top: var(--global-margin);
  margin-bottom: var(--global-margin);
  transition: 0.5s all ease-out;
}
/* Aca se maqueta la seccion de los short video de youtube, donde se mostraran todos una ves se pulse el btnIframes */
#containerAllShortsVideosYoutube {
  width: 100%;
  padding: var(--global-padding);
}
.containerAllShortsVideosYoutube {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-template-rows: auto;
  width: 100%;
  height: auto;
  gap: var(--global-gap);
  padding: var(--global-padding);
}
.ulContainerShortsVideosYoutube {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-template-rows: auto;
  width: 100%;
  height: auto;
  text-align: center;
  align-items: center;
  gap: var(--global-gap);
  padding: var(--global-padding);
  justify-items: center;
}
.ulContainerShortsVideosYoutube > div {
  width: 320px;
  margin: 0 auto;
}
.messageErrorVideo {
  font-weight: 900;
  color: var(--terciary-color-text);
  text-transform: uppercase;
}
.pcantVideos {
  color: var(--secundary-color-text);
  font-weight: 900;
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: var(--global-padding);
  border-bottom: 3px var(--terciary-color-text) double;
}
.spanCantVideos {
  color: var(--terciary-color-text);
}
.containerSpanCantVideos {
  color: var(--terciary-color-text);
  font-size: 50px;
}

/* ACA EMPIEZO A MAQUETAR LA SECTION DONDE ESTARAN LAS BUSQUEDAS MEDIANTE BTN DE LAS RECETAS */
#searchAllRecipes {
  height: auto;
  width: 100%;
  padding: var(--global-padding);
  background-color: var(--bg-color);
  margin-top: var(--global-margin);
}
.containeBtnSearchAllRecipes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--global-gap);
  align-items: center;
}
.liSearchAllRecipes {
  display: flex;
  flex-direction: column;
  width: 120px;
  height: 120px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: var(--secundary-color-text);
  padding: var(--global-padding-short);
}

.btnAllRecipes {
  border: none;
  background-color: transparent;
  font-family: var(--global-font-family);
  color: var(--bg-color);
  font-weight: 900;
  transition: color 0.3s ease;
}
.hide-text {
  color: transparent;
}
.liSearchAllRecipes:hover .logoBtnSearchRecipes {
  transform: scale(1.2) translateY(10%);
  transition: transform 0.5s ease;
}

.logoBtnSearchRecipes {
  width: 80px;
  height: 80px;
  filter: invert(1) brightness(2);
}
/* ACA EMPIEZO A MAQUETAR EL CONTENIDO QUE SE PINTA DINAMICAMENTE EN EL divcontainerSearchAllRecipes */
.divcontainerSearchAllRecipes {
  height: auto;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  text-align: center;
}

/* ACA MAQUETO LOS ESTILOS PARA EL INTERSECTIONOBSERVED */
.contentDivObserve {
  transition: opacity 0.5s ease;
  opacity: 0;
}

.visible {
  opacity: 1;
}
@media (max-width: 768px) {
  .modalContent {
    margin: auto;
  }
  #containerShortsVideosYoutube,
  .iframeShort {
    gap: 40px;
    width: 100%;
  }
  .containerIframe {
    width: 350px;
  }
  .ulContainerShortsVideosYoutube {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: auto;
    justify-items: center;
  }
  .ulContainerShortsVideosYoutube > div {
    width: 280px;
  }
  .liSearchAllRecipes {
    width: 90px;
    height: 90px;
  }
  .logoBtnSearchRecipes {
    width: 45px;
    height: 45px;
  }
  .liSearchAllRecipes:hover .logoBtnSearchRecipes {
    transform: scale(1.2) translateY(20%);
    transition: transform 0.5s ease;
  }
}
