#Footer-Heallthy {
  max-width: 100%;
  margin-top: var(--global-margin);
  position: relative;
  text-align: center;
  padding: var(--global-padding);
  bottom: 0;
}

#Footer-Heallthy p {
  color: var(--secundary-color-text);
  font-weight: 600;
}
